html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: linear-gradient(#3f3f3f,#c4c3c3, #3f3f3f); */
    /*background: linear-gradient(0deg, #6d0202, #141e30 80%, #c4c3c3);*/
}

header {
     background-color: #727272fa; 
    display: flex;
    text-align: center;
}

.main-header img {
    /* margin-left: 20px; */
    display: flex;
    width: 120px;
    height: 120px;
}

.main-header_input {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 0;
    font-size: 16px;
    color: #020202;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    height: 30px;
}

.main-header p {
    color: #424443;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 30px;
    font-family: cursive;
    vertical-align: middle;
    padding-top: 15px;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #0357f4;
    font-size: 12px;
}

.submit__form {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
}

.submit__form:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }

.container__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search_btn {
    width: 150px;
    height: 30px;
    background-color: #00998f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.container__img {
    font-family: cursive;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #c7c7c7;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 3px 1px 20px #a9a9a9;
    flex-direction: column;
}
.container__imgs {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container_chbox {
    font-family: cursive;
    display: flex;
    margin-bottom: 10px;
}